import sys

In [2]:
sys.version

'3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]'

# 자료형
- 숫자, 문자열, 리스트, 딕셔너리, 튜플, 집합

In [7]:
a = 120
b = 40
a
b

40

### 숫자형 자료형(연산자)

In [8]:
a / b

3.0

In [9]:
(a/b)**2

9.0

In [10]:
a%b

0

### 문자열

In [16]:
"""
문자열
띄어쓰기 
인식해줌
"""

'\n문자열\n띄어쓰기 \n인식해줌\n'

In [11]:
string = 'I am Sam'
string1 = 'This is aewsome'

In [12]:
type(string)  #자료형이 무엇인지 알아보기

str

In [13]:
"""Life is too short. You need python"""

'Life is too short. You need python'

In [14]:
'''Life is too short. You need python'''

'Life is too short. You need python'

In [15]:
"She is Paul's friend"

"She is Paul's friend"

In [18]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [19]:
'She is Pual\'s friend'

"She is Pual's friend"

In [20]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [21]:
## 개행
multiline = "I am Sam\nWho is this"
print(multiline)

I am Sam
Who is this

In [22]:
multiline1 = '''I am Sam
Who is this'''
print(multiline1)

I am Sam
Who is this

In [ ]:
## 문자열 더하기

In [24]:
h = "I "
t = 'am Sam '
h+t

'I am Sam '

In [25]:
(h+t)*2

'I am Sam I am Sam '

In [26]:
print("="*20)
print("awesome")
print("="*20)

====================
awesome
====================

In [27]:
len((h+t))

9

In [33]:
## 문자열 인덱싱

h+t

'I am Sam '

In [30]:
(h+t)[7]

'm'

In [31]:
d = h+t
print(d)

I am Sam

In [32]:
d

'I am Sam '

In [34]:
d[0]+d[1]+d[2]+d[3]

'I am'

In [35]:
len(d)

9

In [36]:
d[-1]  # 문자열에서 맨 뒤에 있는 것

' '

In [37]:
d[-9]+d[-8]+d[-7]+d[-6]

'I am'

In [ ]:
## 문자열 슬라이싱

In [38]:
d[0:4]  # 0,1,2,3만 출력됨

'I am'

In [39]:
d[-9:-5]

'I am'

In [40]:
d[2:]

'am Sam '

In [41]:
d[:4]

'I am'

In [42]:
d[4]

' '

In [43]:
test = '20190727cool'

In [44]:
year = test[:4]
date = test[4:8]
condition = test[8:]

In [45]:
print(year)
print(date)
print(condition)

2019
0727
cool

In [46]:
test[:-4]+'k'+test[9:]

'20190727kool'

In [47]:
## 문자열 포매팅

'I eat %d apples.' % 3

'I eat 3 apples.'

In [48]:
"I eat %s apples." % 5

'I eat 5 apples.'

In [57]:
# "I eat %d apples." % 'ten'  ->  문자열 받지 못함

In [49]:
"현재 온도는 %d도 입니다" % 20

'현재 온도는 20도 입니다'

In [50]:
"현재 온도는 %s도 입니다" % '이십'

'현재 온도는 이십도 입니다'

In [55]:
num = 7
"I eat %d apples." % num

'I eat 7 apples.'

In [58]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

### %기호를 붙일 때

In [59]:
print('probability is 99%')

probability is 99%

In [66]:
print("probability is %d%%" % 99)

probability is 99%

In [67]:
# %s : 문자열(String)
# %c : 문자 1개(character)
# %d : 정수 (integer)
# %f : 부동소수(floating-point)

In [68]:
## 문자열 정렬 및 공백

In [70]:
'%10s' % 'hi'

'        hi'

In [74]:
"%0.4f" % 3.425897

'3.4259'

In [75]:
"%.4f" % 3.425897

'3.4259'

In [72]:
"%10.4f" % 3.425897

'    3.4259'

In [ ]:
# format 함수 사용 포매팅

In [79]:
"I eat {} apples".format(3)  # 다른 예) 0없이.

'I eat 3 apples'

In [80]:
"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
# 2개 이상의 값 넣기

In [81]:
number = 10
day = "three"
"I ate {} apples. so I was sick for {} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [82]:
number = 10
day = "three"
"I ate {} apples. so I was sick for {} days.".format(day, number)

'I ate three apples. so I was sick for 10 days.'

In [ ]:
# 이름으로 넣기

In [92]:
# error

#number=10
#day="three"
#"I ate {number} apples. so I was sick for {day} days".format(number, day)

In [85]:
"I ate {number} apples. so I was sick for {day} days".\     # \ (역슬래시) : 한 줄로 코드를 연결시켜준다.
format(number=10, day=3)

# 변수를 생성하여 하는 것이기 떄문에 number, day 순서를 바꿔써도 상관없음.

'I ate 10 apples. so I was sick for 3 days'

In [ ]:
# 인덱스 / 이름 혼용

In [86]:
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days'

In [ ]:
# 왼쪽 정렬

# 꺽쇠 표시 - 왼쪽 or 오른쪽

In [87]:
"{0:<10}".format("hi")

'hi        '

In [ ]:
# 오른쪽 정렬

In [89]:
"{:>10}".format("hi")

'        hi'

In [ ]:
# 가운데 정렬

In [90]:
"{0:^10}".format("hi")

'    hi    '

### 리스트 자료형

In [93]:
odd = [1,3,5,7,9]

In [94]:
a = [1, 2, 'a']

In [ ]:
# 빈 리스트

In [96]:
a = []
a.extend([1, 2, 3])
a

[1, 2, 3]

In [97]:
a.extend([4, 5])

In [98]:
a.pop()  # 끝에꺼 뺴기

5

In [101]:
a.pop(0) # 인덱스 0번째 뺴기

1

In [102]:
a

[2, 3, 4]

### 얕은복사 vs 깊은복사

In [108]:
c = a

In [109]:
b = a.copy()

In [110]:
b

[2, 3, 4]

In [111]:
c

[2, 3, 4]

In [113]:
print(id(a)) ; print(id(b)) ; print(id(c))

# 새로운 데이터를 생성하여 작업할 경우 copy()를 사용할 것.

1303789520576
1303790447936
1303789520576

In [ ]:
# 리스트 인덱싱

In [114]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [115]:
a[-1]

['a', 'b', 'c']

In [116]:
a[3]

['a', 'b', 'c']

In [117]:
a[3][0]

'a'

In [121]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

# 'Life 어떻게 인덱싱'?
a[2][2][0]

'Life'

In [122]:
## 리스트 슬라이싱
a = [1, 2, 3, 4, 5]

In [123]:
a[0:2]

[1, 2]

In [124]:
b = a[:2]

In [125]:
c = a[2:]

In [126]:
c

[3, 4, 5]

In [127]:
c.insert(1,2)

In [128]:
c

[3, 2, 4, 5]

In [129]:
# 리스트 연산

In [130]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [133]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [134]:
str(a[2]) + 'hi'

'3hi'

In [135]:
# 리스트 수정과 삭제

In [138]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [139]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [140]:
# 리스트에 요소 추가

In [142]:
a = [1, 2, 3]
a.append(4)

In [143]:
a

[1, 2, 3, 4]

In [144]:
a.append([5, 6])

In [145]:
a

[1, 2, 3, 4, [5, 6]]

In [146]:
# error
# a.append(7, 8, 9)

In [147]:
a.extend([7, 8, 9])  # 리스트안에 스칼라 값을 한번에 넣을 때 extend() 사용

In [148]:
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [149]:
b = [1, 4, 3, 2]
b.sort()

In [150]:
b

[1, 2, 3, 4]

In [151]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [153]:
a.reverse()
a

['a', 'b', 'c']

In [154]:
# 리스트 내 인덱스 번호 반환
a.index('a')

0

In [155]:
# 리스트에 요소 삽입
b.insert(0, 1)

In [156]:
b

[1, 1, 2, 3, 4]

In [157]:
b.insert(0, -1)

In [158]:
b

[-1, 1, 1, 2, 3, 4]

In [159]:
# 리스트 요소 제거
b.remove(1)   # 1번째에 있는 값 제거

In [160]:
b

[-1, 1, 2, 3, 4]

In [161]:
b.insert(3, 1)

In [162]:
b

[-1, 1, 2, 1, 3, 4]

In [163]:
b.count(1)

2

In [164]:
b.count(2)

1

## 튜플

- 값을 변경할 수 없는 데이터 구조 형태 (list는 변경 가능 - 차이점)

In [165]:
t1 = (1,) # 1개의 자료값 입력시 반드시 , 붙어야 한다.

In [172]:
# error
# 값 바뀌는 것 불가능.
# t1[0] = 2

In [166]:
type(t1)

tuple

In [167]:
t2 = (2)

In [168]:
type(t2)

int

In [169]:
t2 = (1, 2, 3)

In [173]:
# error
# 값 바뀌는 것 불가능
# t2[2] = 4

## 딕셔너리 자료형
 - 키-밸류 구조

In [175]:
dic = {'name':'pey', 'phone':'01199933323', 'birth':'1118'}

In [177]:
a = {1:'hi'}

In [178]:
a = {'a': [1, 2, 3]}

In [179]:
a = {1: 'a'}

In [181]:
c = {1:('a', 'b')}
c

{1: ('a', 'b')}

In [182]:
a[2] = 'b'

In [183]:
a

{1: 'a', 2: 'b'}

In [184]:
dic['name']

'pey'

In [185]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
# keys들을 list 형태로 바꾸고 싶을 때

list(dic.keys())

In [186]:
dic.values()

dict_values(['pey', '01199933323', '1118'])

In [188]:
for k in dic.keys():
    print(k)

name
phone
birth

In [192]:
for k in list(dic.keys()):
    print(k)

name
phone
birth

In [190]:
d = list(dic.keys())

In [191]:
d

['name', 'phone', 'birth']

## 집합 자료형

In [1]:
s1 = set([1, 2, 3])

In [2]:
s2 = set("Hello")

- 집합 자료형 -> 순서가 없음 / 인덱싱을 지원하지 않는다.

In [195]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [196]:
s3 = set([1, 2, 3, 4, 5, 6, 2])

In [197]:
s3   # 중복을 허용하지 않는다.

{1, 2, 3, 4, 5, 6}

## 불(bool) 자료형

In [205]:
1 in [1, 2]

True

In [203]:
a = True
b = False

In [204]:
type(a)

bool

In [206]:
a = [1, 2, 3, 4]

In [207]:
while a:
    print(a.pop())

4
3
2
1

In [209]:
a

[]

## 기타 문자열 적용 유용 메서드

In [210]:
test_str = '    hp010-0000-1111ph    '
print(test_str)

    hp010-0000-1111ph

In [211]:
test_str1 = test_str.strip()   # 빈 문자열 없앨 때 사용가능
print(test_str1)

hp010-0000-1111ph

In [212]:
test_str2 = test_str1.replace('hp', "")   # 특정 문자를 대체하고 싶을 떄
print(test_str2)

010-0000-1111ph

In [213]:
test_str3 = test_str1.split('-')  # 특정 위치를 기준으로 자를 때(분할)
print(test_str3)

['hp010', '0000', '1111ph']

## 연습

1. a = "a:b:c:d" 에서 객체 a의 메서드를 이용하여 a#b#c#d으로 바꿔서 출력해보세요.

In [215]:
a = "a:b:c:d"

In [216]:
a.replace(':', "#")

'a#b#c#d'

2. [1, 3, 5, 4, 2]를 [5, 4, 3, 2, 1]로 만들어 보세요.

In [294]:
b = [1, 3, 5, 4, 2]

In [297]:
b.sort()
b.reverse()

In [298]:
b

[5, 4, 3, 2, 1]

3. ['This', 'is', 'awesome'] 리스트를 This is awesome 문자열로 만들어 보세요

In [301]:
c = ['This', 'is', 'awesome']

In [231]:
c = c[0] + " " + c[1] + " " + c[2]

In [232]:
c

'This is awesome'

In [302]:
# 다른방법)
' '.join(c)

'This is awesome'

4. a = {'A':90, 'B':80, 'C':70} 에서 B에 해당하는 값 출력함과 동시에 a 리스트에서 삭제

In [303]:
a = {'A':90, 'B':80, 'C':70}

In [304]:
print('B:', a.pop('B'))
a

B: 80

{'A': 90, 'C': 70}

5. a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5] 를 중복 숫자 없이 다음과 같이 만들어보세요 -> [1, 2, 3, 4, 5]

In [3]:
a = set([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5])

In [4]:
q = set(a)
b = list(q)
b

[1, 2, 3, 4, 5]

## if

In [314]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [315]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

"돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어 가라"

In [316]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [317]:
1 in [1, 2, 3]

True

In [318]:
1 not in [1, 2, 3]

False

In [319]:
'a' in ('a', 'b', 'c')

True

In [320]:
 'i' not in 'python'

True

"만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어 가라."

In [321]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    print('걸어가라')

택시를 타고 가라

In [322]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print('카드를 꺼내라')

"주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 잇으면 택시를 타고, 돈도 없고 카드도 없으면 걸어가라." => elif

In [323]:
pocket = ['paper', 'cellphone']
card = False
if 'money' in pocket:
    print("택시를 타고가라")
elif card:
    print("택시를 타고가라")
else:
    print("걸어가라")

걸어가라

In [324]:
score = 50

In [326]:
if score >= 60:
    message = "success"
else:
    massage = "failure"

In [327]:
message = "success" if score >= 60 else "failure"
message

'failure'

## while

while <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    <수행할 문장3>

In [8]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1  # 증감식 (treeHit += 1)
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")
        break

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
## 커피자판기 - 무한루프 벗어나기 => break

In [9]:
count = 10
while count >= 0:
    count -= 1
    print("돈을 받았으니 커피를 줍니다.")
    print("남은 커피의 양은 %d개입니다." % count)
    if count == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

## for

for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [10]:
sum = 0
for i in range(10):
    sum = sum + i
sum

45

In [14]:
a = []
for i in range(1, 5):
    a.append(i)
print(a)

[1, 2, 3, 4]

In [15]:
b = []
for i in range(1, 6, 2):
    b.append(i)
print(b)

[1, 3, 5]

In [16]:
sum = 0
for i in range(1, 11):
    sum = sum + i

In [17]:
sum

55

## enumerate

In [18]:
p = ['money', 'card']
enumerate(p)

In [20]:
p = ['money', 'card']

for value in p:
    print(value)

money
card

In [19]:
## enumerate 설명
p = ['money', 'card']

for idx, value in enumerate(p):
    print(idx, value)

# tuple 형태로 반환해줌 -> 그 형태가 (idx, value)

0 money
1 card

## 연습

In [ ]:
# 구구단

In [33]:
for i in range(2,10):
    print("== %d 단 ==" % i)
    for j in range(1, 10):
        print("%d * %d = %d" % (i, j, i*j))
    print('\n')

== 2 단 ==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


== 3 단 ==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


== 4 단 ==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


== 5 단 ==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


== 6 단 ==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


== 7 단 ==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


== 8 단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


== 9 단 ==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 리스트 내포

In [23]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]

In [24]:
result

[6, 12]

## 연습

1. 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보세요

In [34]:
for i in range(1, 1001):
    if i % 3 == 0:
        sum = sum + i
sum

166888

2. 다음의 별 표시 프로그램을 작성해보세요

In [61]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [73]:
for i in range(1, 6):
    print("{:>5}".format("*" * i))

    *
   **
  ***
 ****
*****

In [76]:
for i in range(10, 0, -1):
    if i % 2 != 0:
        print("{0:^10}".format("*" * i))

*********
 *******
  *****
   ***
    *

In [80]:
for i in range(1, 10):
    if i % 2 != 0:
        print("{0:^10}".format("*" * i))
        if i == 10:
            break
for i in range(10, 0, -1):
    if i % 2 != 0:
        print("{0:^10}".format("*" * i))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

3. for 문을 이용해 1부터 100까지 7의 배수 출력

In [35]:
for i in range(1, 101):
    if i % 7 == 0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

4. A반 중 10명의 중간고사 성적은 [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] 일 때, for 문 이용 A 학급의 평균 점수 구해보세요.

In [51]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [52]:
sum = 0
for i in score:
    sum = sum + i
sum

790

In [82]:
sum / len(score)

79.0

5. 아래의 코드를 리스트 내포를 사용해 바꾸어 보세요

In [55]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [81]:
# 리스트 내포로 바꾼 것)

numbers = [1, 2, 3, 4, 5]
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]