문자열과 정규표현식

In [1]:
import re

문자열의 분리 : re.split()
'name:ykhong, age = 20; major/engineering'

위와 같이 구분자가 일정하지 않은 경우 문자열을 분리하기 쉽지 않다.
--> 정규표현식의 split() 사용

In [3]:
?re.split

Signature: re.split(pattern, string, maxsplit=0, flags=0)
Docstring:
Split the source string by the occurrences of the pattern,
returning a list containing the resulting substrings.  If
capturing parentheses are used in pattern, then the text of all
groups in the pattern are also returned as part of the resulting
list.  If maxsplit is nonzero, at most maxsplit splits occur,
and the remainder of the string is returned as the final element
of the list.
File:      c:\programdata\anaconda3\lib\re.py
Type:      function

In [4]:
line = 'name : yhong, age = 20; major/engineering'

In [5]:
line.split(':')

['name ', ' yhong, age = 20; major/engineering']

In [6]:
line.split(':,')

['name : yhong, age = 20; major/engineering']

1) : 분리

문자열 첫 문장부호인 콜론으로 분리해보면 아래와 같이 name과 나머지로 분리된다.

In [7]:
re.split(':', line)

['name ', ' yhong, age = 20; major/engineering']

2) 콜론과 쉼표(:,) 분리

In [9]:
re.split(':,', line)

['name : yhong, age = 20; major/engineering']

아무것도 분리되지 않는다.
콜론과 쉼표가 붙어 있는 구분자를 찾기 때문이다.

방안 1 : |삽입

방안 2 : [] 사용

In [10]:
# 방안1
re.split(':|,', line)

['name ', ' yhong', ' age = 20; major/engineering']

In [11]:
# 방안2
re.split('[:,]', line)

['name ', ' yhong', ' age = 20; major/engineering']

3) line이 포함한 모든 기호 및 문장부호 사용 분리

In [12]:
re.split('[:,=;/]', line)

['name ', ' yhong', ' age ', ' 20', ' major', 'engineering']

[생각해보기]

name 다음에 콜론이 2개 연속 붙어 있는 경우 어떤 패턴을 적용하는 것이 좋을까?

In [14]:
line2 = 'name :: ykhong, age = 20; major/engineering'

In [15]:
re.split('[:,=;/]', line2)

['name ', '', ' ykhong', ' age ', ' 20', ' major', 'engineering']

콜론 2개를 붙여 [::,=;/] 적용한다고 해도 대괄호 안은 or 이기 때문에 결과는 같다.

In [17]:
re.split('[::,=;/]', line2)

['name ', '', ' ykhong', ' age ', ' 20', ' major', 'engineering']

+를 이용해 :+를 적용해도 마찬가지의 결과가 발생한다
대괄호 안에서 ::으로 인식되는 것이 아니라 + 기호 역시 찾아야 하는 구분자일 뿐이다.

In [18]:
re.split('[:+,=;/]',line2)

['name ', '', ' ykhong', ' age ', ' 20', ' major', 'engineering']

<idea0>
대괄호 없이 :+ 적용

In [19]:
re.split(':+', line2)

['name ', ' ykhong, age = 20; major/engineering']

대괄호를 사용하지 않고 |로 연결

In [21]:
re.split('::|,|=|;|/', line2)

['name ', ' ykhong', ' age ', ' 20', ' major', 'engineering']

::를 :로 대체 후 동일 패턴 적용

In [22]:
re.sub('::', ':', line2)

'name : ykhong, age = 20; major/engineering'

---------------------------------------
빈문자열 삭제

In [23]:
temp = re.split('[:+,=;/]',line2)

In [24]:
temp

['name ', '', ' ykhong', ' age ', ' 20', ' major', 'engineering']

In [25]:
list(filter(None, temp))

['name ', ' ykhong', ' age ', ' 20', ' major', 'engineering']

In [26]:
?re.sub

Signature: re.sub(pattern, repl, string, count=0, flags=0)
Docstring:
Return the string obtained by replacing the leftmost
non-overlapping occurrences of the pattern in string by the
replacement repl.  repl can be either a string or a callable;
if a string, backslash escapes in it are processed.  If it is
a callable, it's passed the Match object and must return
a replacement string to be used.
File:      c:\programdata\anaconda3\lib\re.py
Type:      function

4) \s 사용

whitespace 문자 1개와 매치

In [29]:
re.split("\s", line)

['name', ':', 'yhong,', 'age', '=', '20;', 'major/engineering']

In [30]:
re.split("\s+", 'name: yhong, age = 20; major/engineering')

['name:', 'yhong,', 'age', '=', '20;', 'major/engineering']

1칸의 whitespace를 구분자로 하여 분리시킨다. 
따라서 whitespace를 없애는 효과가 있다.

In [31]:
'name : ykhong, age = 20; major/engineering'

'name : ykhong, age = 20; major/engineering'

/s 역시 활용 가능할 것으로 판단되니 패턴에 추가해서 적용햅자

In [33]:
re.split("[:,=;/\s]", line)

['name', '', '', 'yhong', '', 'age', '', '', '20', '', 'major', 'engineering']

\s만 적용했을 때와 달리 오히려 빈문자열(empty string)이 대량 발생하며 
오히려 처리하기 더 불편해졌다. 빈 문자열의 발생이유는 무엇일까?

In [34]:
re.split(":", line)

['name ', ' yhong, age = 20; major/engineering']

콜론만 적용하면 'name'이 생성되고 이 결과에 바로 \s를 적용해보면 빈 문자열이
생성됨을 알 수 있다.

In [36]:
re.split('\s', 'name ')

['name', '']

[생각해보기]
아래와 같은 output에서 empty string은 어떻게 제거할까?

In [37]:
re.split("[:,=;/\s]", line)

['name', '', '', 'yhong', '', 'age', '', '', '20', '', 'major', 'engineering']

In [38]:
bool("")

False

In [39]:
temp = re.split("[:,=,/\s]", line)

<방안1>

In [42]:
temp = re.split("[:,=,/\s]", line)

In [43]:
result = [word for word in temp if bool(word) is True]

In [44]:
result

['name', 'yhong', 'age', '20;', 'major', 'engineering']

<방안2>

In [47]:
list(filter(None, temp))

['name', 'yhong', 'age', '20;', 'major', 'engineering']

----------------------------------------------------

동일한 패턴을 반복해서 수행하는 경우 패턴을 계속적으로 만들어 적용하면 매우 불편

[패턴 컴파일] : re.compile

In [50]:
pattern = re.compile("[:,=;/\s]")

In [51]:
re.split(pattern, line)

['name', '', '', 'yhong', '', 'age', '', '', '20', '', 'major', 'engineering']

In [52]:
pattern.split(line)

['name', '', '', 'yhong', '', 'age', '', '', '20', '', 'major', 'engineering']

**[Quiz]**

ex = 'name : ykhong, age = 20; major/engineering  hobby none'

위 데이터를 처리하고 name, age, major, hobby를 key로 가지는 dict로 변환해보세요

In [55]:
line = 'name : ykhong, age = 20; major/engineering  hobby none'

In [56]:
temp = re.split("[:,=;/\s]", line)

In [57]:
list(filter(None, temp))

['name', 'ykhong', 'age', '20', 'major', 'engineering', 'hobby', 'none']

[2. 문자열 처음, 끝 간단 매칭]

In [60]:
ex = 'name : ykhong, age = 20; major/engineering  hobby none'

In [61]:
ex.startswith('name')

True

In [62]:
ex.endswith('.txt')

False

매칭의 활용 : 특정 폴더 내 파일 검색 등

In [66]:
import os

In [68]:
f = open("C:/python_lee/examples/test.txt","w")
for i in range(1,11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [69]:
f = open("C:/python_lee/examples/test1.csv","w")
for i in range(1,11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [70]:
filenames = os.listdir('examples')

In [71]:
filenames

['test.txt', 'test1.csv']

In [73]:
files = [file for file in filenames if file.endswith('.txt')]

In [74]:
files

['test.txt']

In [75]:
'examples'+'/'+files[0]

'examples/test.txt'

In [76]:
def read_files(loc, x):
    loc = loc+'/'+x
    with open(loc, 'r') as f:
        content = f.readlines()
    return content

In [77]:
content = []
loc = 'examples'
for file in files:
    content.append(read_files(loc, file))

In [78]:
read_files('examples', files[0])

['1번째 줄입니다.\n',
 '2번째 줄입니다.\n',
 '3번째 줄입니다.\n',
 '4번째 줄입니다.\n',
 '5번째 줄입니다.\n',
 '6번째 줄입니다.\n',
 '7번째 줄입니다.\n',
 '8번째 줄입니다.\n',
 '9번째 줄입니다.\n',
 '10번째 줄입니다.\n']

In [79]:
content = []
loc = 'examples'
for file in files:
    content.append(read_files(loc, file))

In [80]:
content

[['1번째 줄입니다.\n',
  '2번째 줄입니다.\n',
  '3번째 줄입니다.\n',
  '4번째 줄입니다.\n',
  '5번째 줄입니다.\n',
  '6번째 줄입니다.\n',
  '7번째 줄입니다.\n',
  '8번째 줄입니다.\n',
  '9번째 줄입니다.\n',
  '10번째 줄입니다.\n']]

[3. 텍스트 패턴 매칭]

re.match(pattern, string)

간단한 매칭을 하려면 위와 같이 문자열 매소드로 충분하지만 패턴이 복잡해지면 마찬가지로 정규표현식을 활용한다.

In [81]:
date = '4/27/2021'

숫자를 의미하는 [0-9]를 적용하면 첫번째 숫자 4를 매칭한다.

매칭한 value에 0번 인덱스로 ([0]) 접근

In [83]:
re.match('[0-9]', date)

In [84]:
re.match('[0-9]', date)[0]

'4'

마찬가지로 \d의 패턴을 사용할 수 있다.

In [86]:
re.match('\d', "19")

In [87]:
re.match('\d+', "19")

이어서 월/일까지 매칭하고 밸류를 추출해보자

In [88]:
re.match('\d/\d', date)

In [89]:
re.match('\d/\d+', date)

In [90]:
re.match('\d/\d', date)[0]

'4/2'

[+의 사용]

'\d/\d'의 패턴을 사용했을 때 원하는 결과가 아닌 4/2만 추출되었다.

매칭되는 숫자 한개만 나오기 때문

In [91]:
re.match('\d+/\d+', date)[0]

'4/27'

In [92]:
re.match('\d+/\d+/\d+', date)

In [93]:
re.match('\d+/\d+/\d+', '4/나27/2021')

In [94]:
re.match('\d+/\d+/\d+', date)[0]

'4/27/2021'

[활용]

In [95]:
text = '오늘은 4/27/2021. 어제는 4/26/2021'

In [96]:
re.match('\d+/\d+/\d+', text)

In [97]:
print(re.match('\d+/\d+/\d+', text))

None

re.match를 이용할 경우 아무런 결과를 볼 수가 없다.

re.match는 문자열 처음에서 매칭을 찾기 때문이다.

프린트 문을 이용해보면 아무런 결과 없음을 알 수 있다.

문자열 전체에서 해당 패턴을 찾고자 하면 re.findall()을 사용한다.

In [99]:
p = re.compile('\d+/\d+/\d+')

In [100]:
p.findall(text)

['4/27/2021', '4/26/2021']

In [101]:
re.findall('[가-힣]+', text)

['오늘은', '어제는']

In [102]:
re.findall('[가-힣ㄷㅋ]+', (text+"ㅋㅋㅋㄷ ㄷㄷㄹㅋ"))

['오늘은', '어제는', 'ㅋㅋㅋㄷ', 'ㄷㄷ', 'ㅋ']

### 과제1

<목표 : 데이터 읽어오기 + 데이터 탐색> 

데이터를 읽어온 후 데이터를 탐색하여 정상적이지 않은 데이터를 조사하고,

잘못된 데이터의 인덱스 추출 및 해당 데이터 추출하여 확인

In [4]:
import pandas as pd

In [6]:
data2 = pd.read_csv("data/date2.csv")

In [8]:
data2.head()

Empty DataFrame
Columns: [6/13/2021, 3/20/2020, 8/10/2015, 8/1/2015, 7/23/2011, 1/24/2009, 11/4/2020, 12/22/2019, 2/15/2018, 12/4/2018, 9/3/2011, 5/17/2021, 12/9/2014, 4/16/2012, 9/23/2012, 1/11/2021, 5/27/2021, 1/27/2017, 6/9/2004, 5/17/2003, 3/24/2019, 8/2/2004, 2/19/2006, 11/28/2009, 5/7/2001, 9/29/2011, 3/28/2005, 11/22/2007, 4/7/2003, 8/21/2009, 12/19/2008, 2/13/2021, 6/24/2011, 10/5/2005, 2/15/2015, 11/5/2014, 10/2/2011, 8/21/2010, 10/18/2001, 9/21/2021, 11/2/2004, 11/16/2007, 1/17/2016, 1/26/2006, 12/6/2005, 9/25/2003, 7/28/2018, 2/9/2019, 12/28/2020, 2/7/2017, 7/2/2014, 2/18/2008, 12/20/2020, 10/26/2005, 8/10/2002, 7/12/2001, 3/5/2002, 11/14/2010, 11/28/2016, 11/10/2003, 9/26/2005, 2/16/2010, 6/8/2018, 4/21/2006, 4/12/2020, 2/8/2006, 3/15/2006, 12/7/2004, 2/27/2004, 8/6/2016, 1/17/2021, 1/26/2002, 12/25/2003, 12/10/2015, 1/20/2002, 3/4/2020, 4/13/2009, 1/20/2021, 10/3/2012, 5/-/2010, 3/12/2013, 12/2/2007, 7/24/2002, 9/15/2009, 4/25/2008, 1/24/2001, 9/10/2002, 8/30/2020, 11/24/2012, 8/2/2011, 4/27/2008, 3/10/2002, 1/28/2020, 6/8/2016, 10/15/2008, 11/19/2002, 11/14/2006, 8/13/2005, 9/7/2020, 3/29/2016, ...]
Index: []

[0 rows x 1001 columns]

1. 결측치  - missing value
2. 이상치 -  잘못된 값, 범위를 크게 벗어난 값

### 과제2

1)

4과목의 점수를 입력으로 받아(input() 사용하세요)

평균이 80점 이상이면 "합격"을 80점 미만이면 "불합격"을 출력하는

사용자 정의함수를 작성하세요.

조건1 : input()에 입력값을 제한하는 메시지 출력 금지

조건2: 100점을 초과하거나 음의 값이 입력되면 "잘못된 점수"를 출력합니다.

2) 위 조건을 만족하는 UDF 작성 후 4개가 아닌 값이 들어 왔을 때 assertion 메시지를 삽입해보세요.

assert 메시지 예시 :  "4개의 값을 입력하세요"

In [16]:
arr4 = []

In [17]:
for i in range(0,4):
    arr4 = input()

 1
 2
 3
 4

In [20]:
def score(arr4):
    for i in range(0,4):
        if arr4[i] >= 80:
            print("합격")
        elif arr4[i] < 80:
            print("불합격")
        else:
            print("잘못된 점수")